@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 140%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

:root {
  --color-black: #333333;
  --main-blue: #3E7CB1;
  --main-accent: #2D4059;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: none;
}

.page {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-row {
  height: 105px;
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
  max-width: 220px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 140%;
  margin-right: 50px;
}

.header-contacts a {
  color: var(--color-black);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  margin-right: 50px;
}

.icon-marker {
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  background: url(../images/marker.svg) no-repeat center;
  margin-right: 17px;
}

.icon-mail {
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  background: url(../images/mail.svg) no-repeat center;
  margin-right: 17px;
}

.icon-phone {
  display: inline-block;
  width: 32px;
  min-width: 32px;
  height: 32px;
  background: url(../images/phone.svg) no-repeat center;
  margin-right: 17px;
}

.header-btn {
  margin-left: auto;
}

.button {
  height: 65px;
  line-height: 65px;
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  padding: 0 40px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all ease .3s;
  text-align: center;
  cursor: pointer;
}

.button.button-border {
  border: 1px solid var(--main-blue);
  color: var(--main-blue);
  background: transparent;
}

.button.button-border:hover {
  background: var(--main-blue);
  color: #fff;
}

.button.button-base {
  background: #fff;
  color: var(--main-blue);
}

.button.button-base:hover {
  background: var(--main-blue);
  color: #fff;
}

.button.button-white {
  background: #fff;
  color: var(--main-blue);
  border: none;
}

.button.button-white:hover {
  opacity: .8;
}

.navigation {
  background: var(--main-accent);
}

.navigation-list {
  display: flex;
  justify-content: center;
  height: 65px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list li {
  margin: 0 55px;
}

.navigation-list li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navigation-list li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 2px;
  background: #fff;
  width: 0%;
  bottom: -3px;
  transition: all ease .3s;
}

.navigation-list li a:hover:before {
  width: 100%;
}

.slider-item {
  height: 620px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 62px;
  font-family: "Jost", sans-serif;
  color: #fff;
}

.slider-item p {
  font-size: 50px;
  margin: 0 0 40px;
  line-height: 140%;
  letter-spacing: 2px;
  font-weight: 600;
  max-width: 860px;
}

.slider-item__title {
  margin-left: -25px;
  margin-bottom: 20px;
  max-width: 860px;
}

.slider-item__title span {
  display: inline-block;
  background: var(--main-blue);
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  border-radius: 20px;
  padding: 0 25px;
  letter-spacing: 3px;
}

.main-slider {
  position: relative;
}

.main-slider .swiper-pagination {
  max-width: 1200px;
  left: 50% !important;
  transform: translate(-50%, 0);
  width: 100%;
  display: flex;
  align-items: flex-start;
  bottom: 30px !important;
}

.main-slider .swiper-pagination .swiper-pagination-bullet {
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1 !important;
  width: 17px;
  height: 17px;
  margin: 0 15px 0 0 !important;
}

.main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff !important;
}

.section-about {
  padding: 120px 0;
}

.section-title {
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 140%;
  font-weight: 600;
  margin-bottom: 60px;
  color: var(--main-accent);
}

.section-title span {
  color: var(--main-blue);
}

.about-row {
  display: flex;
  justify-content: space-between;
}

.about-col1 {
  max-width: 285px;
}

.about-img {
  width: 540px;
  height: 540px;
  position: relative;
}

.about-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-img:after, .about-img:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/star.svg) no-repeat center;
  background-size: 100%;
}

.about-img:after {
  width: 29px;
  height: 29px;
  left: -60px;
  top: 207px;
}

.about-img:before {
  width: 45px;
  height: 45px;
  right: -53px;
  bottom: 40px;
}

.about-col3 {
  max-width: 285px;
}

.about-text {
  letter-spacing: 1px;
}

.about-text p {
  margin: 0 0 30px;
}

.about-text p span {
  color: var(--main-blue);
}

.about-img__text {
  position: absolute;
  width: 450px;
  background: var(--main-blue);
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px 30px;
  border-radius: 20px;
  bottom: 73px;
  left: -272px;
}

.why-section {
  padding: 120px 0;
  background: #F0F6FB;
  position: relative;
}

.why-section:before {
  content: "";
  display: block;
  position: absolute;
  width: 443px;
  height: 370px;
  right: 0;
  top: -148px;
  z-index: 2;
  background: url(../images/why-img1.png) no-repeat center;
}

.why-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../images/border.svg) no-repeat center;
  background-size: 97%;
  pointer-events: none;
}

.row {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.col-4 {
  width: 33.333%;
  padding: 0 10px;
}

.why-item {
  background: #fff;
  border-radius: 20px;
  height: 215px;
  padding: 40px 30px;
  text-align: center;
  font-family: "Jost", sans-serif;
  margin-bottom: 20px;
  position: relative;
}

.why-item span {
  display: block;
  color: var(--main-accent);
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 140%;
}

.why-item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.why-item__img {
  height: 60px;
  margin-bottom: 20px;
}

.product-section {
  padding: 120px 0;
  position: relative;
}

.product-section:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -120px;
  width: 226px;
  height: 511px;
  background: url(../images/product-bg.png) no-repeat center;
}

.product-item__img {
  background: #F0F6FB;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 320px;
  position: relative;
}

.product-item__img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all ease .6s;
}

.product-item__img a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.product-item__img:hover img {
  transform: scale(1.1);
}

.product-item {
  position: relative;
  margin-bottom: 40px;
}

.product-item__tag {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 20px;
  background: var(--main-blue);
  color: #fff;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 10px;
  border-radius: 10px;
}

.product-item__title {
  font-size: 20px;
  font-family: "Jost", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.product-item__more a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.contact-section {
  background: var(--main-blue);
}

.contact-col {
  padding: 100px 95px 100px calc((100vw - 1230px) / 2);
}

.contact-col .section-title {
  color: #fff;
  text-align: left;
  margin-bottom: 40px;
}

.contact-row {
  display: flex;
}

.contact-img {
  min-width: 41.0934%;
  height: 786px;
  background: url(../images/contact-bg.jpg) no-repeat center;
  margin-left: auto;
  border-radius: 20px 0 0 20px;
}

.input {
  display: block;
  height: 65px;
  border-radius: 10px;
  padding: 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 18px;
  color: #fff;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input.error-input {
  border-color: #E82828;
  color: #E82828;
}

.input.error-input::placeholder {
  color: #E82828;
}

.textarea {
  display: block;
  height: 138px;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 18px;
  color: #fff;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  width: 100%;
  resize: none;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.contact-form__row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-form__col {
  flex: 1;
}

.contact-form {
  max-width: 610px;
}

.contact-form__control {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.contact-form__text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 140%;
}

.contact-form__text a {
  color: #fff;
  text-decoration: none;
}

.contact-form__btn {
  margin-right: 20px;
}

.footer {
  padding: 50px 0 20px;
}

.footer h3 {
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 500;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer-col1 {
  max-width: 345px;
}

.footer-text {
  letter-spacing: 1px;
}

.f-logo {
  margin-bottom: 30px;
}

.footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav li {
  margin-bottom: 13px;
}

.footer-nav li a {
  letter-spacing: 1px;
  color: #333;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: var(--main-blue);
}

.footer-col3 {
  max-width: 313px;
  padding-top: 55px;
}

.footer-col2 {
  padding-top: 55px;
}

.footer-contact__btn .button {
  width: 100%;
}

.footer-contact {
  margin-bottom: 13px;
  letter-spacing: 0.6px;
}

.footer-contact a {
  color: var(--main-blue);
  text-decoration: none;
}

.copyright {
  font-size: 14px;
}

.menu-btn {
  display: none;
  position: relative;
}

.menu-btn span {
  display: block;
  height: 2px;
  width: 32px;
  position: relative;
  background: #fff;
  right: 0;
  margin-top: -2.5px;
  transition: all ease .3s;
  border-radius: 2px;
}

.menu-btn span:before,
.menu-btn span:after {
  content: " ";
  display: block;
  height: 2px;
  width: 32px;
  position: absolute;
  background: #fff;
  border-radius: 2px;
  right: 0;
}

.menu-btn span:before {
  top: -10px;
  transition-property: top, transform;
  transition-duration: 0.2s;
}

.menu-btn span:after {
  bottom: -10px;
  transition-property: bottom, transform;
  transition-duration: 0.2s;
}

.menu-btn.active span {
  background: transparent;
}

.menu-btn.active span:before {
  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menu-btn.active span:after {
  bottom: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.sm-visible {
  display: none;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.breadcrumbs {
  margin: 40px 0 80px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-list li {
  margin-right: 15px;
  color: var(--main-blue);
  position: relative;
  font-size: 14px;
}

.breadcrumbs-list li:after {
  content: "/";
  display: block;
  position: absolute;
  top: 0;
  right: -11px;
  color: #333;
}

.breadcrumbs-list li:last-child:after {
  display: none;
}

.breadcrumbs-list li a {
  color: #333;
  text-decoration: none;
}

.product-row {
  display: flex;
}

.product-img {
  width: 585px;
  margin-right: 82px;
}

.product-slider {
  background: #F0F6FB;
  border-radius: 20px;
  margin-bottom: 10px;
}

.product-slider img {
  max-width: 100%;
}

.product-thumb {
  position: relative;
}

.product-thumb .swiper-slide {
  width: 149px;
}

.product-thumb .swiper-button-next,
.product-thumb .swiper-button-prev {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid #F0F6FB;
  top: 50%;
  margin-top: -32px;
  background: #fff url(../images/slide-arrow2.svg) no-repeat center;
}

.product-thumb .swiper-button-next::after,
.product-thumb .swiper-button-prev::after {
  display: none;
}

.product-thumb .swiper-button-next:hover,
.product-thumb .swiper-button-prev:hover {
  background: var(--main-blue) url(../images/slide-arrow.svg) no-repeat center;
}

.product-thumb .swiper-button-prev {
  transform: rotate(180deg);
  left: -32px;
}

.product-thumb .swiper-button-next {
  right: -32px;
}

.product-thumb__img {
  height: 122px;
  background: #F0F6FB;
  border-radius: 20px;
  cursor: pointer;
}

.product-thumb__img img {
  width: 100%;
  transition: all ease .3s;
}

.swiper-slide-thumb-active .product-thumb__img img {
  transform: scale(1.1);
}

.product-desc {
  flex: 1;
}

.product-title {
  font-size: 60px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  color: var(--main-accent);
  letter-spacing: 2px;
  margin-bottom: 20px;
  line-height: 140%;
}

.product-text {
  letter-spacing: 1px;
  margin-bottom: 47px;
}

.product-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-info__list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}

.product-info__list li span:first-child {
  color: #8896A7;
  font-size: 16px;
  font-weight: 500;
}

.product-info__list li span:last-child {
  color: #2D4059;
  font-size: 18px;
  white-space: nowrap;
}

.jq-selectbox {
  position: relative;
}

.jq-selectbox select {
  display: none;
}

.jq-selectbox__select {
  height: 80px;
  line-height: 80px;
  background: #F0F6FB;
  padding: 0 80px 0 20px;
  border-radius: 10px;
  font-size: 16px;
  color: var(--main-blue);
  cursor: pointer;
  position: relative;
}

.jq-selectbox__trigger-arrow {
  width: 40px;
  height: 40px;
  background: url(../images/slide-arrow2.svg) no-repeat center;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotate(90deg);
}

.jq-selectbox__dropdown {
  position: absolute;
  background: #F0F6FB;
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;
}

.jq-selectbox__dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px;
  max-height: 188px;
  overflow: auto;
}

.jq-selectbox__dropdown ul li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--main-blue);
  cursor: pointer;
}

.jq-selectbox__dropdown ul li:last-child {
  margin-bottom: 0;
}

.jq-selectbox__dropdown ul li:hover {
  color: var(--main-accent);
}

.jq-selectbox__dropdown ul::-webkit-scrollbar {
  width: 6px;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-track {
  background: transparent;
}

.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
  background: var(--main-blue);
  border-radius: 20px;
}

.product-btn .button {
  width: 100%;
}

.product-select {
  margin-bottom: 15px;
}

.product-select h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.product {
  margin-bottom: 120px;
}

.more-section {
  padding-top: 0 !important;
}

.more-section .section-title {
  text-align: left;
}

.modal {
  width: 495px;
  padding: 40px !important;
  border-radius: 20px;
}

.modal-title {
  font-size: 60px;
  line-height: 140%;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  color: var(--main-accent);
  margin-bottom: 15px;
}

.order-info {
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.order-info span {
  display: block;
  color: #8896A7;
  margin-bottom: 10px;
}

.order-form h3 {
  color: #8896A7;
  font-size: 20px;
  line-height: 140%;
  font-family: "Jost", sans-serif;
  font-weight: normal;
  margin: 0 0 10px;
}

.order-form .input {
  border-color: rgba(62, 124, 177, 0.2);
  color: #8896A7;
}

.order-form .input::placeholder {
  color: #8896A7;
}

.order-form__row {
  margin-bottom: 10px;
}

.order-form__btn {
  margin-top: 25px;
}

.order-form__btn .button {
  width: 100%;
}

.order-cancel {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.order-cancel a {
  color: #8896A7;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}

.order-cancel a:hover {
  color: var(--main-blue);
}
/*# sourceMappingURL=style.css.map */